
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Girassol&family=Spectral+SC:wght@300&family=Zilla+Slab+Highlight&display=swap');

body {
  background-color: #fddab8;
  color:   #677880;
  // font-family: 'Bebas Neue', cursive;
  // font-style: italic;
  font-family: 'Girassol', cursive;
//  font-family: 'Spectral SC', serif;
//  font-family: 'Zilla Slab Highlight', cursive;

}

h1 {
  font-size: 50px;
  // color: #677880;
}

.randeipage {
  text-align: center;
}

.artistCard {
  
}